<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerLinks}}

</head>

<body>
   {{>navbar}}


    <!-- main header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                     <!-- right side div -->
                     <div class=" col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="img/about.jpg" alt="error img" class="img-fluid">
                        </figure>
                        
                    </div>
                    <!-- left side div -->
                    <div class=" col-md-6 col-12 main_header_left">
                        <p>Welcome to HappyWeather</p>
                        <h2>Sunshine is delicious, rain is refreshing, wind braces us up, snow is exhilarating; there is really no such thing as bad weather, only different kinds of good weather. Weather is the state of the atmosphere, describing for example the degree to which it is hot or cold, wet or dry, calm or stormy, clear or cloudy.</h2>
                        <a href="https://weather.com/en-IN/"><button>About me</button></a>

                    </div>
                   
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->

    {{>footer}}

</body>

</html>